body
{
    margin: auto;
    width: 15em;
    font-family: sans-serif;
    font-size: 5vmin;
    padding-bottom: 4em;
}

html, html body.map
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

h1
{
    padding: 0;
    margin: .5em 0;
}

a:link,
a:hover,
a:active,
a:visited
{
    color: #444;
}

form ul
{
    list-style-type: none;
    padding: 0;
}

form ul li
{
    padding: .25em 0;
}

label
{
    display: block;
    line-height: 1.5em;
}

button,
input,
textarea,
select
{
    font-size: inherit;
    color: #333;
    border: rgba(0, 0, 0, 40%) solid .05em;
    border-radius: .125em;
    padding: .125em .25em;
}

button,
input[type=submit]
{
    background: linear-gradient(
        rgba(0, 0, 0, 10%),
        rgba(0, 0, 0, 30%));
}

footer
{
    font-size: 1.5em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2em;
    overflow: hidden;
    background: #444;
    box-shadow: 0 0 2em rgba(0, 0, 0, 10%);
    line-height: 2em;
    text-align: center;
}

footer ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
}

footer ul li
{
    display: inline-block;
}

footer ul li a
{
    padding: .25em;
    text-shadow: 0 .25em .5em rgba(0, 0, 0, 25%);
}

footer ul li a:hover,
footer ul li a:active
{
    text-shadow: 0 .25em .5em rgba(255, 255, 255, 25%) !important;
}

#messages
{
    list-style-type: none;
    margin: 1em 0 0 0;
    padding: 0;
}

#messages li
{
    padding: .125em .25em;
    display: block;
    position: relative;
    background: #eee;
    margin-bottom: .25em;
}

#message li:last-child
{
    margin-bottom: 0;
}

#messages li:before
{
    position: absolute;
    left: 0;
    top: .125em;
    width: 1.5em;
    text-align: center;
}

#messages li.debug:before
{
    content: "❔";
}

#messages li.info:before
{
    content: "❕";
}

#messages li.success:before
{
    content: "✅";
}

#messages li.warning:before
{
    content: "❗";
}

#messages li.error:before
{
    content: "❌";
}

#messages li span
{
    padding-left: 1.5em;
    display: inline-block;
}

div.map
{
    position: fixed; top: 0;
    bottom: 3em;
    left: 0;
    right: 0;
}

.ol-control button,
.ol-control button:focus,
.ol-control button:hover
{
    background: rgba(68, 68, 68, 80%);
}

.ol-zoom
{
    top: auto;
    left: .5em;
    bottom: 3.25em;
}

.control-center-map
{
    left: .5em;
    bottom: .5em;
}

.control-center-follow
{
    left: 3.25em;
}

.dot
{
    font-size: .5em;
    width: 3em;
    height: 3em;
    overflow: hidden;
    border: .2em solid #fff;
    border-radius: 1.75em;
    background: rgba(68, 68, 68, 80%);
    box-shadow: 0 0 .5em rgba(0, 0, 0, 50%);
    color: #fff;
    text-align: center;
    line-height: 3.1em;
    font-weight: bold;
    text-transform: uppercase;
}

#map-banner
{
    top: .5em;
    left: .5em;
    right: .5em;
    background: rgba(255, 255, 255, 80%);
    position: fixed;
    z-index: 100;
    padding: .125em .25em;
    display: none;
}

.color-picker span
{
    display: inline-block;
    width: 10em;
    text-align: center;
    padding: .125em 0;
}

#tracking-indicator.active a
{
    text-shadow: 0 0 .5em rgba(255, 0, 0, 100%);
    border-bottom: solid #f00 .125em;

}

.share-url
{
    display: block;
    background: rgba(0, 0, 0, 20%);
    border: rgba(0, 0, 0, 40%) solid .05em;
    border-radius: .125em;
    padding: .125em .25em;
    text-align: center;
    margin: .5em auto;
    width: 75%;
}

.friends li
{
    padding: .5em 0;
}
