<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block 'page_title' %}{% endblock %}</title>
        {% block 'head_css' %}{% endblock %}
        <link rel="stylesheet" href="{% static "main/css/map.css" %}" type="text/css" />
        {% if user %}
            <style tyle="text/css">
                a:link,
                a:hover,
                a:active,
                a:visited
                {
                    color: rgb({{ user.color }});
                }
                .ol-control button:hover,
                .ol-control button:focus,
                .ol-control button
                {
                    background: rgba({{ user.color }}, 80%);
                }
                button,
                input[type=submit]
                {
                    background: linear-gradient(
                        rgba({{ user.color }}, 10%),
                        rgba({{ user.color }}, 30%)
                    );
                }
                .share-url
                {
                    background: rgba({{ user.color }}, 20%);
                }
            </style>
        {% endif %}
        {% block 'head_pre_js' %}{% endblock %}
        <script type="text/javascript">
                var to_follow = null;
            {% if user %}
                var logged_in = true;
                {% if user.current_track %}
                var track_position = true;
                {% else %}
                var track_position = false;
                {% endif %}
                var user = {
                    nickname: '{{ user.nickname|addslashes }}',
                    initials: '{{ user.initials|addslashes }}',
                    color: '{{ user.color|addslashes }}',
                    position: null,
                }
            {% else %}
                var logged_in = false;
                var track_position = false;
                var user = {
                    nickname: null,
                    initials: null,
                    color: '#444',
                    position: null,
                }
            {% endif %}
        </script>
        <script type="text/javascript" src="{% static "main/js/map.js" %}"></script>
    </head>
    <body class="{% block 'body_classes' %}{% endblock %}">
        {% if messages %}
            <ul id="messages">
                {% for m in messages %}
                    <li{%if m.tags %} class="{{ m.tags }}"{% endif %} style="background: rgba({{ user.color }}, 10%);">
                        <span>{{ m }}</span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block 'body' %}{% endblock %}
    {% if user %}
        <footer style="background: rgb({{ user.color }});">
    {% else %}
        <footer>
    {% endif %}
        <ul>
            <li title="Home">
                <a href="{% url 'welcome' %}">🏠</a>
            </li>
            <li title="The Map">
                <a href="{% url 'map' %}">🌐</a>
            </li>
            {% if following %}
                <li title="Your friends">
                    <a href="{% url 'friends' %}">👥</a>
                </li>
            {% endif %}
            {% if user %}
                <li title="Tracking{% if user.current_track %} (ending at {{ user.current_track.end|time:"H:i" }}){% else %} (not enabled){% endif %}" id="tracking-indicator">
                    <a href="{% url 'tracking' %}">📡</a>
                </li>
                <li title="Settings">
                    <a href="{% url 'settings' %}">🔧</a>
                </li>
            {% else %}
                <li title="Register">
                    <a href="{% url 'register' %}">📝</a>
                </li>
            {% endif %}
        </ul>
    </footer>
    </body>
</html>

