{% extends 'base.html' %}
{% block 'page_title' %}Follow {{ to_follow.nickname }}{% endblock %}
{% block 'body' %}
    {% if user == to_follow %}
        <h1>Follow yourself?</h1>
        <p>This is silly... You can't follow yourself.</p>
        <p>
            But you've arrived at the address you should share with your
            friends, if want to invite them to follow you.
        </p>
    {% else %}
        <h1>Follow <span style="color: rgb({{ to_follow.color }});">{{ to_follow.nickname }}</span></h1>
        {% if to_follow.current_track %}
            <p>
                Their location is available until {{ to_follow.current_track.end|time:"H:i" }}.
                Head over to <a href="{% url 'map' to_follow.share_code %}">The Map</a>
                to follow the location of
                <span style="color: rgb({{ to_follow.color }});">{{ to_follow.nickname }}</span>.
            </p>
        {% else %}
                <span style="color: rgb({{ to_follow.color }});">{{ to_follow.nickname }}</span>
                is currently not sharing their location.
        {% endif %}
        <p>
            We've added
            <span style="color: rgb({{ to_follow.color }});">{{ to_follow.nickname }}</span>
            to your friends list, to make it easy for you to find them again
            and see their shared location another time.
        </p>
        {% if not user %}
            <p>
                While you're here, you might want to
                <a href="{% url 'register' %}">register</a>,
                to be able to easily find
                <span style="color: rgb({{ to_follow.color }});">{{ to_follow.nickname }}</span>
                and other friends again, and even share your own location with them.
            </p>
        {% endif %}
    {% endif %}
{% endblock %}
