{% extends 'base.html' %}
{% block 'page_title' %}Friends{% endblock %}
{% block 'body' %}
    <h1>Friends</h1>
    {% if not following %}
        <p>
            You don't know anyone on the map yet.
        </p>
    {% else %}
        <p>
            These are the lovely people you know on The Map:
        <p>
        <ul class="friends">
            {% for f in following %}
                <li>
                    <span style="color: rgb({{ f.color }});">{{ f.nickname }}</span>
                    –
                    {% if f.current_track %}
                        sharing <a href="{% url 'map' f.share_code %}">their location</a>
                        until {{ f.current_track.end|time:"H:i" }}.
                    {% else %}
                        currently not sharing their location.
                    {% endif  %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
