{% extends 'base.html' %}
{% block 'page_title' %}Goodbye!{% endblock %}
{% block 'body' %}
    <h1>Goodbye, {{ user.nickname }}!</h1>
    <p>
        As opposed to a lot of others who claim the same,
        <strong>we respect your privacy and have no interest in keeping your
        data longer than you want us to</strong>.
        By clicking <em>Goodbye!</em> below, we will delete the following:
    </p>
    <ul>
        <li>Your user details (nickname, initials, colour choice, map code).</li>
        <li>The location data we've collected from your devices.</li>
    </ul>
    <p>
        ...Which is <em>all</em> the data we have about you.
    </p>
    <p>
        Thanks for all the fun we've had together!
        We hope to see you again another time.
    </p>
    <form method="post" action="{% url 'goodbye' %}">
    {% csrf_token %}
        <ul>
            <li>
                <input type="submit" value="Goodbye!" />
                or just <a href="{% url 'welcome' %}">go back to the start page</a>.
            </li>
        </ul>
    </form>
{% endblock %}
