{% extends 'base.html' %}
{% block 'page_title' %}Welcome to The Map{% endblock %}
{% block 'body' %}
    {% if user %}
    <h1>Hi, <span style="color: rgb({{ user.color }});">{{ user.nickname }}</span>!</h1>
    {% else %}
        <h1>Welcome to The Map</h1>
    {% endif %}
    <p>
        If all you want to do is see your own location, you can just go and
        <a href="{% url 'map' %}">visit The Map</a>.
    </p>
    {% if user %}
        <p>
            Hand out the following address to your friends to allow them to follow
            your location while it's being tracked:
            <input class="share-url" value="{{ request.scheme }}://{{ request.get_host }}{% url 'follow' user.share_code %}" />
        </p>
        {% if not user.current_track %}
            <p>
                Before your friends are able to follow your location, you need to
                <a href="{% url 'tracking' %}">start tracking your location</a>.
            </p>
        {% endif %}
        {% if not following %}
            <p>
                While waiting for your friends to join The Map, you may want to
                <a href="{% url 'settings' %}">tweak your appearance on The Map</a>.
            </p>
        {% endif %}
    {% else %}
        <p>
            Otherwise, you might want to <a href="{% url 'register' %}">register</a>,
            in order to be able to share your location with your friends. All
            it takes is a nickname and some initials, allowing your friends to
            know who each dot on The Map is.
        </p>
    {% endif %}
{% endblock %}
