{% extends 'base.html' %}
{% block 'page_title' %}The Map{% endblock %}
{% block 'head_css' %}
        <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
{% endblock %}
{% block 'head_pre_js' %}
        <script src="https://openlayers.org/en/v4.6.5/build/ol.js" type="text/javascript"></script>
{% endblock %}
{% block 'body_classes' %}map{% endblock %}
{% block 'body' %}
    <div id="map-banner">Doing something interesting...</div>
    <div id="map" class="map"></div>
{% endblock %}
