{% extends 'base.html' %}
{% load static %}
{% block 'page_title' %}Register{% endblock %}
{% block 'head_pre_js' %}
    <script type="text/javascript" src="{% static "main/js/ntc.js" %}"></script>
{% endblock %}
{% block 'body_classes' %}user-form register{% endblock %}
{% block 'body' %}
    <h1>Register</h1>
    {% if user %}
        <p>
            <strong>You're already registered as {{ user.nickname }}!</strong>
        </p>
        <p>
            If you just want to change your nickname or initials, you can
            do so from <a href="{% url 'settings' %}">the settings page</a>.
        </p>
        <p>
            You're more than welcome to register again, but you will no
            longer be {{ user.nickname }}, <strong>all your data will bo lost and there is no way back</strong>.
        </p>
    {% endif %}
    <form method="post" action="{% url 'register' %}">
    {% csrf_token %}
        <ul>
            {{ form.as_ul }}
            <li>
                <input type="submit" value="Register" />
            </li>
        </ul>
    </form>
{% endblock %}
