{% extends 'base.html' %}
{% load static %}
{% block 'page_title' %}Settings{% endblock %}
{% block 'head_pre_js' %}
    <script type="text/javascript" src="{% static "main/js/ntc.js" %}"></script>
{% endblock %}
{% block 'body_classes' %}user-form settings{% endblock %}
{% block 'body' %}
    <h1>Settings</h1>
    <p>
        Want to look better on The Map? Then you've come to the right place!
    </p>
    <form method="post" action="{% url 'settings' %}">
    {% csrf_token %}
        <ul>
            {{ form.as_ul }}
            <li>
                <input type="submit" value="Update settings" />
            </li>
        </ul>
    </form>
    <p>
        The following top secret <em>The Map Code</em> has been uniquely selected for you:
        <strong class="map-code">{{ user.share_code }}</strong>.
        Keep it safe, but share it with your friends if you want to connect on The Map.
    <p>
        Do you want to leave The Map behind and delete your account?
        <a href="{% url 'goodbye' %}">Say goodbye!</a>
    </p>
{% endblock %}
