{% extends 'base.html' %}
{% block 'page_title' %}Tracking{% endblock %}
{% block 'body_classes' %}tracking{% endblock %}
{% block 'body' %}
    <h1>Tracking</h1>
    <p>
        Hand out the following address to your friends to allow them to follow
        your location while it's being tracked:
        <input class="share-url" value="{{ request.scheme }}://{{ request.get_host }}{% url 'follow' user.share_code %}" />
    </p>
    {% if user.current_track %}
        <p>
            <strong>Your location is currently being tracked</strong>.
        </p>
        <p>
            For now, it's important that you
            <strong>stay on the map</strong>.
            Not necessarily on <a href="{% url 'map' %}">the actual map</a>, but
            somewhere on this website. It's also important that the browser is
            the active app, you don't switch to another browser tab, and
            you dont lock your phone (or let it lock itself due to inactivity).
        </p>
        <p>
            We know this is lame, but until we've improved things technically,
            it has to be this way, as some devices and/or browsers will stop
            reading your location when the website loses focus.
        </p>
        <p>
            If you fail to do this, nothing fatal happens. You'll just risk that your
            location is not being updated on the map. And friends trying to find you
            might go to the wrong place, if you've moved away since your last
            location was recorded. You can always return to The Map to continue
            the tracking of your location (e.g. no harm done if your phone locks
            itself – you can just unlock it and resume the tracking).
        <p>
            Remember to turn off your GPS again after the tracking has ended,
            if you want to save your battery power.
        </p>
        <p>
            You can stop the tracking any time you want, but the tracking will
            automatically stop around {{ user.current_track.end|time:"H:i" }}.
        </p>
    {% else %}
        <p>
            Your location is currently not being tracked. You can start the tracking
            by clicking the button below.
        </p>
        <p>
            Before you start tracking, make sure to <strong>enable the GPS</strong>
            on your device. It's also important that you
            <strong>allow your browser to access your location</strong>.
            Otherwise, we can't really track your location, and then you can't
            share your location with your friends.
        </p>
        <p>
            You can stop the tracking any time you want, but the tracking will
            automatically stop after the chosen period of time.
        </p>
    {% endif %}
    <form method="post" action="{% url 'tracking' %}">
    {% csrf_token %}
        <ul>
            {% if user.current_track %}
                <li>
                    <input type="submit" name="action" value="Stop tracking" />
                </li>
            {% else %}
                <li>
                    <label for="id_duration">Track location for:</label>
                    <select name="duration">
                        {% for d in durations %}
                            <option value="{{ d|first }}" {% if d|last == "30 minutes" %} selected="selected"{% endif %}>{{ d|last }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li>
                    <input type="submit" name="action" value="Start tracking" />
                </li>
            {% endif %}
        </ul>
    </form>
{% endblock %}
